<div class="custom-header">
  <h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.topbar }}</p>
  <button id="gift-btn-header">{{ section.settings.topbutton }}</button>
</div>

<!--this is a comment -->

<div class="custom-header-mobile">
  <h2>{{ section.settings.heading }}</h2>
</div>

<div class="image-banner">
  <div class="custom-content-banner">
    <h2 class="custom-primary-heading">{{ section.settings.Bannerheading }}</h2>
    <p class="custom-body-text">{{ section.settings.bannerparagraph }}</p>
    <button id="custom-section-cta">{{ section.settings.bannerbutton }}</button>
  </div>
</div>

<div class="mobile-image-banner">
  <div class="custom-content-banner">
    <h2 class="custom-primary-heading">{{ section.settings.Bannerheading }}</h2>
    <p class="custom-body-text">{{ section.settings.bannerparagraph }}</p>
    <button id="custom-section-cta">{{ section.settings.bannerbutton }}</button>
  </div>
</div>

{% schema %}
  {
    "name": "Section 1",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Tisso Vision"
      },
      {
        "type": "text",
        "id": "topbar",
        "label": "Top Bar Text (Only For Desktop)",
        "default": "Find The Ideal Gift"
      },
      {
        "type": "text",
        "id": "topbutton",
        "label": "Header Button Text",
        "default": "Choose A Gift"
      },
      {
        "type": "text",
        "id": "Bannerheading",
        "label": "Banner Heading",
        "default": "The Gift Guide"
      },
      {
        "type": "textarea",
        "id": "bannerparagraph",
        "label": "Banner Paragraph",
        "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
      },
      {
        "type": "text",
        "id": "bannerbutton",
        "label": "Banner Button",
        "default": "Shop Now"
      },
      {
        "type": "image_picker",
        "id": "bannerimage",
        "label": "Banner Image",
      }
    ],
    "presets": [
      {
        "name": "custom header"
      }
    ]
  }

  
{% endschema %}
